body {
  background-color: crimson;
  text-align: center;
  font-family: sans-serif;
}

.jumbotron {
  background-color: crimson;
  color: black;
  font-size: 25px;
  display: flex;
}

div.row div {
  /* border: 1px dashed #000; */
  margin-left: 0;
}

div.guesses span {
  border: 3px dashed #ccc;
  font-size: 65px;
  margin: 0 1px;
}

.rowBottom {
  background-image: url("./Thrones.jpg");
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  width: 100%;
  height: 395px;
}
